@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald:wght@300&display=swap');

.dark{
  background: #000;
}

.navbar, .nav{
  background-color: #B3001B;
}

h1, h2, h3, h4, h5, h6, .heading{
  font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Comfortaa', cursive;
}

body{
  background-color: #FFFBFF;
}

.jumbotron, .card, .bio{
  background-color: #F3A712; 
  border: 4px solid #1C638C; 
}

.f{
  color: rgba(0,0,0,.5);
}

.f:hover{
  color: rgba(0,0,0,.7);
}
/*#F3A712 (yellow) and ##1C638C (blue)*/